<div class="login-form">
  <form action="/login" method="POST">
    <div class="input">
      <label for="username">Username</label><br>
      <input type="text" name="username" placeholder="BonsaiLover">
    </div>
    <div class="input">
      <label for="password">Password</label><br>
      <input type="password" name="password" placeholder="Password">
    </div>
    <button>Login!</button>
  </form>
</div>
