<h1>Hello <%= user.username %></h1>
<img src="/uploads/<%=user.photo%>" alt="profile-photo" height="300px">
<a href="/profile/edit"><button>Edit Profile</button></a>
<a href="/bonsai/new"><button>Add Bonsai</button></a>
